.change-lng{
    position: relative;
    border: 2px solid var(--main-gray);
    border-radius: 5px;

    padding-inline: calc(20 / 1920 * 100vw);
    padding-top: calc(10 / 1920 * 100vw);
    padding-bottom: calc(10 / 1920 * 100vw);

    cursor: pointer;
    user-select: none;

    /* transition-duration: 500ms; */
}

.change-lng-active{
    position: relative;

    border-top: 2px solid var(--main-gray);
    border-inline: 2px solid var(--main-gray);
    border-bottom: 2px solid transparent;
    
    
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    padding-inline: calc(20 / 1920 * 100vw);
    padding-top: calc(10 / 1920 * 100vw);
    padding-bottom: calc(10 / 1920 * 100vw);

    cursor: pointer;
    user-select: none;

    /* transition-duration: 500ms; */
}

.change-lng__content{
    display: flex;
    align-items: center;
}

.change-lng__p{
    margin-right: calc(10 /1920 * 100vw);
}

.change-lng__active-menu{
    display: flex;
    padding-top: calc(5 / 1920 * 100vw);
    padding-bottom: calc(10/ 2910 * 100vw);
    padding-inline: calc(20 / 1920 * 100vw);


    border-inline: 2px solid var(--main-gray);
    border-bottom: 2px solid var(--main-gray);

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

