.background-card {
    margin-top: 10%;
    width: calc(390/1040 * 100vw);
    height: calc(490/1040 * 100vm);
    border-radius: 20px;
    border: 2px solid #9E9E9E;
    background: #262626;
}
.border-stack {
    width: calc(386/1040*100vm);
    height: calc(61/1040*100vm);
    border-top: 2px solid #9E9E9E;
    border-bottom: 2px solid #9E9E9E;
    background: #262626;
}

.button-link {
    width: calc(355/1040*100vm);
    height: calc(37/1040*100vm);
    border-radius: 8px;
    border: 1px solid #F29C9B;
    background: rgba(242, 156, 155, 0.25);
}